#features {
    font-family: sans-serif;
    overflow: hidden;
    background-color: #fafafa;
    width: 40%;
    margin-left: 60%;
}
section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
    min-height: 80vh;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 400px;
}

.intro {
  opacity: 1;
  background-color: whitesmoke;
  position: relative;
  z-index: 1000;
}

#mapid {
  position: fixed;
  display: float;
  top: 0;
  bottom: 0;
  width: 60%;
  height: 100vh;
}

.marker {
  /* background-color: black; */
  color: darkgreen;
  border-radius: 10%;
  padding: 0px 10px;
  opacity: 70%;
  max-width: 75px;
  cursor: pointer;
}

.marker > h4 {
  margin: 0;
  padding 0;
}

.infographic {
  width: 100%;
}

#features.full-screen {
  width: 100%;
  margin-left: 0%;
}

#legend-contents.temps {
  height: 230px;
}

#legend-contents.canopy {
  height: 180px;
}

input[type="checkbox"]:checked ~ #legend-contents.temps {
    transform: translateY(-210px);
}

input[type="checkbox"]:checked ~ #legend-contents.canopy {
    transform: translateY(-160px);
}

input[type="checkbox"]:checked ~ label.canopy {
    transform: translateY(-160px);
}
